---
layout: page
title: Categories
---

<h3>Write-ups</h3>
<ul>
  {% for write-ups in site.write-ups %}
    <li>
      <p style="margin-bottom:4px;"><a href="{{ write-ups.url }}">{{ write-ups.title }}</a></p>
    </li>
  {% endfor %}
</ul>

<h3>Hobbies</h3>
<ul>
  {% assign sorted_hobbies = site.hobbies | sort: 'category' %}
  {% for hobbies in sorted_hobbies %}
    <li>
      <p style="margin-bottom:4px;"><a href="{{ hobbies.url }}">{{ hobbies.category }} | {{ hobbies.title }}</a></p>
    </li>
  {% endfor %}
</ul>

<h3>Security</h3>
  <ul>
  {% for post in site.posts %}
  <li>
   <p class="author"><span class="date">{{ post.date | date: "%d %B %Y" }} - <a href="{{ post.url }}">{{ post.title }}</a></span></p>
  </li>
  {% endfor %}
</ul>
